body {     
background-color: #F7F9FC;
color: #575F7D;
 font-family: 'Lora', serif;
font-size: 17px;
 font-weight: lighter;
}
h1, h2, h3 {
font-family: 'Roboto', sans-serif;
}

h1 { 
 color: #40A7C3;
font-size: 32px;
font-weight: 900;
}
h2 {
color: #005691;
 font-family: Courier;
 font-size: 20px;
font-weight: lighter;
font-weight: 500;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
color: #6B72E1;
font-weight: 600;
font-size: 16px;
}
a:hover {
 color: black;
}



/* Customs design with class*/

.container {
   width: 700px;
   margin: 40px auto;
}

@media (max-width: 760px) {
.container {
width: 600px;
  }
}

@media (max-width: 500px) {
.container {
width: 400px;
  }
}

.card-white {
background-color: white;
padding: 40px;
box-shadow: 0px 10px 30px rgba(0,0,0,0.1)
border-radius: 4px;
margin: 20px 0px;
text-align: center;
}

.img-circle {
border-radius: 50%;
}

.btn-blue {
background-color: #F47544;
color: white;
padding: 15px 20px;
border-radius: 4px;
}

.btn-blue:hover {
background-color: black;
color: white;
}

.list-inline {
list-style: none;
padding-left: 0px;
}

.list-inline li {
display: inline;
padding: 10px;
}

.list-inline i {
font-size: 50px;
color: rgb(230, 230, 230);
}

.list-inline i:hover {
color: black;
}

#introduction p {
margin-bottom: 40px;

}
